<div *ngIf="isResults">

  Results:
  <table class="results">
    <tr>
      <td>Name</td>
      <td>{{ form.value.userName }}</td>
    </tr>

    <tr>
      <td>Score</td>
      <td>{{form.value.score}}</td>
    </tr>

  </table>

</div>

<form [formGroup]="form" (submit)="submitForm($event)">
  <ng-container *ngFor="let input of formConfig; let i = index">
    <ng-container [ngSwitch]="input.controlType">
      <ng-template [ngSwitchCase]="'text'">
        <div class="form-group">
          <label [for]="input.controlName"> {{ i+1 }}. {{input.controlName}}</label>
          <ng-container *ngIf="input.labelMarkdownElement">
            <markdown class="variable-binding" [data]="input.labelMarkdownElement"></markdown>
          </ng-container>
          <input [formControlName]="input.controlName" [type]="input.valueType" [placeholder]="input.placeholder" [name]="input.controlName" [minlength]="input.validators.minlength" [maxlength]="input.validators.maxlength" />
          <div class="error" *ngIf="form.get(input.controlName).invalid && (form.get(input.controlName).dirty || form.get(input.controlName).touched)">
            <div class="error" *ngIf="form.get(input.controlName).errors?.required">
              Input required
            </div>
            <div class="error" *ngIf="form.get(input.controlName).errors?.testTaken">
              Test already taken.
            </div>
          </div>
        </div>
        <div>

        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'textArea'">
        <div class="form-group">
          <label [for]="input.controlName"> {{ i+1 }}. {{input.controlName}}</label>
          <ng-container *ngIf="input.labelMarkdownElement">
            <markdown class="variable-binding" [data]="input.labelMarkdownElement"></markdown>
          </ng-container>
          <textarea [formControlName]="input.controlName" [placeholder]="input.placeholder"></textarea>
          <div class="error" *ngIf="form.get(input.controlName).invalid && (form.get(input.controlName).dirty || form.get(input.controlName).touched)">
            <div *ngIf="form.get(input.controlName).errors?.required">
              Input required
            </div>
            <div *ngIf="form.get(input.controlName).errors?.testTaken">
              Test already taken.
            </div>
          </div>
        </div>
        <div>

        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'select'">
        <div class="form-group">
          <label [for]="input.controlName">{{ i+1 }}. {{input.controlName}}</label>
          <ng-container *ngIf="input.labelMarkdownElement">
            <markdown class="variable-binding" [data]="input.labelMarkdownElement"></markdown>
          </ng-container>
          <select [formControlName]="input.controlName" [name]="input.controlName" [id]="input.controlName">
            <option value="">{{input.placeholder}}</option>
            <option *ngFor="let option of input.options" [value]="option.val">{{option.optionName}}</option>
          </select>
          <div class="error" *ngIf="form.get(input.controlName).invalid && (form.get(input.controlName).dirty || form.get(input.controlName).touched)">
            <div class="error" *ngIf="form.get(input.controlName).errors?.required">
              Input required
            </div>
            <div class="error" *ngIf="form.get(input.controlName).errors?.testTaken">
              Test already taken.
            </div>
          </div>

        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'radio'">
        <div class="form-group">
          <label>{{ i+1 }}. {{ input.controlName }}</label>
          <ng-container *ngIf="input.labelMarkdownElement">
            <markdown class="variable-binding" [data]="input.labelMarkdownElement"></markdown>
          </ng-container>
          <label [attr.for]="input.controlName + i" *ngFor="let option of input.options; let i = index" class="radio-label form-group row">
            <input [attr.id]="input.controlName + i" [formControlName]="input.controlName" type="radio" [value]="option.val" />
            <span *ngIf="!option.markdownElement"> {{option.optionName}}</span>
            <markdown class="variable-binding" [data]="option.markdownElement"></markdown>
          </label>
        </div>
      </ng-template>

      <div *ngIf="isResults">
        <table>
          <tr>
            <td>Your answer: </td>
            <td>{{ form.get(input.controlName).value }}</td>
          </tr>
          <tr>
            <td>Correct answer:</td>
            <td>{{ ANSWERS[i] }}</td>
          </tr>
        </table>
      </div>
    </ng-container>

    <br>

  </ng-container>

  <button type="submit" *ngIf="!isResults" [disabled]="form.invalid || submitted">Submit</button>

  <small>
    Submission would be enabled only when all questions are answered.
    Please submit answers and wait for a moment.
    There will be a view results button below, click on it and scroll to the top to view your score.
    If less than 10, go through to identify difference between correct answer and your answer.
  </small>

</form>

<div class="text-success" *ngIf="submitted && !isResults">
  <h3>Submission successful! </h3>
</div>

<button (click)="viewResults()" *ngIf="submitted && !isResults">Click and wait to view results</button>
