form button {
  margin-top: 10px;
  width: 100%;
}

label {
  // font-weight: bold;
}

form {
  margin-top: 20px;
  margin-left: 20px;
}

form .error {
  font-style: italic;
  color: red;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

form .form-group.row {
  flex-direction: row;
}

input, textarea, select {
  border: 1px solid #ccc;
  border-width: 1px;;
  background: unset;
  box-shadow: unset;
}

input {
  height: 30px;
  line-height: 30px;
}

select {
  height: 32px;
  line-height: 32px;;
}

.radio-label {
  line-height: 35px;
  span, div {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

hr {
  border-style: dotted;
}

table {
  font-style: italic;
  margin: 0 10px;
}
